.courseList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 14rem);
    gap: 1rem;
    justify-content: center;
    margin-top: 50px;
}


.courseList > * {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
}

.courseListContainer{
    padding-left: 5%;
    padding-right: 5%;
}

.cartButton {
    border: none;
    background-color: turquoise;
    color: white;
}

.cartButton:hover {
    opacity: 1;
}