.modal {
    display: block;
    visibility: hidden;
    overflow-y: auto;
    background-color: rgba(169, 169, 169, 0.2);
  }
  
  .modal-show {
    visibility:visible;
    background-color: rgba(169, 169, 169, 0.2);
    transition: opacity 0.2s linear; 
  } 
  
  .modal-content  {
    opacity: 0; 
  }
  
  .modal-show .modal-content  {
    opacity: 1; 
    transition: 0.2s linear; 
  }
  
  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
  }

  .cartTitle{
    font-size: 20px;
    text-align: center;
    flex: 1;
  }

  .cartCourses {
    font-size: 12px;
  }

  .modal .modal-show{
    background-color: rgba(169, 169, 169, 0.2);
  }