.termButtons{
    text-align: center;
    margin-top: 2%;
}

.btn-success {
    background-color: turquoise;
    border-color: turquoise;
}

.btn-success:hover, .btn-success:active {
    background-color: darkturquoise;
    border-color: darkturquoise;
}

.btn {
    width: 150px; 
    display: inline-block; 
    text-align: center; 
}

